<nav class="navbar navbar-dark mb-2">
  <div class="container">
    <a href="/" class="navbar-brand"> My App UAEMEX</a>
    <a href="/alumnos/agregar" class="navbar-brand">Alumnos</a>
    <a href="/asignaturas/agregar" class="navbar-brand">Asignaturas</a>
    <a href="/profesores/agregar" class="navbar-brand">Profesores</a>
  </div>
</nav>