<div class="container">
    <div class="row">
        <div class="col-md-5">
            <br>
{{> asignaturas/asignaturaForm}}
        </div>
        <div class="col-md-7">
            <br>
{{> asignaturas/asignaturaTabla}}
        </div>
    </div>
</div>
