<div class="container">
    <div class="row">
        <div class="col-md-5">
            <br>
{{> profesores/profesorForm}}
        </div>
        <div class="col-md-7">
            <br>
{{> profesores/profesorTabla}}        </div>
    </div>
</div>
